<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="b65e0d22-97e8-4d5f-9b88-3b561e8b0824"
            Publisher="CN=Jim"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>RxRt-VB</DisplayName>
    <PublisherDisplayName>Jim</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>RxRt-VB</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="RxRt_VB.App">
        <VisualElements
            DisplayName="RxRt-VB"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="RxRt-VB"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>